
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<h3>@ViewBag.error</h3>

<h3>@ViewBag.path</h3>

<h3>@ViewBag.qs</h3>

<br />
<a asp-controller="Home" asp-action="Index">
    Click here to visit home page
</a>
