
@{
    ViewData["Title"] = "Exception";
}

<h3>An error occured while processing your request</h3>
<h3>please contact to support diddivinay@gmail.com</h3>
<br />

<div class="alert alert-danger">
<h5>path</h5>
    <p>@ViewBag.path</p>
</div>
<div class="alert alert-danger">
<h5>error</h5>
    <p>@ViewBag.error</p>
</div>
<div class="alert alert-danger">
<h5>stacktrace</h5>
    <p>@ViewBag.stacktrace</p>
</div>
<div class="alert alert-danger">
<h5>innerexception</h5>
    <p>@ViewBag.innerexception</p>
</div>

